<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
</head>
<body style = "background-color: whitesmoke;">
  <h2 style = "text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">Michael's Chat Server</h2>
  <div class="card" id = "room-container" style="width: 18rem;">
    <% Object.keys(rooms).forEach(room => { %>
      <div class="card-body">
        <h5 class="card-title"><%= room %></h5>
        <p class="card-subtitle mb-2 text-muted">Chat Room</p>
        <a href="/<%= room %>" class="btn btn-outline-success">Join</a>
      </div>
    <% }) %>
  </div>
  <form autocomplete = "off" action="/room" method="POST"
  style = "position:relative">
    <input placeholder="Create a new chat room..." name="room" type="text" required class="form-control column mr-2" 
    style = "width: 100%; padding-right: 40px;">
    <button class="btn btn-primary" type="submit" id="send-button" style = "
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    ">Create</button>
  </form>
</body>
</html>